    .start-screen {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #404040;
        max-width: 100%;
        background-image: url(/assets/img/start_bg.png);
        background-size: cover;
    }
    
    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 800px) {
            padding-top: 50px;
        }
    }
    
    .buttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .padding-right {
        padding-right: 50px;
        @media (max-width: 800px) {
            padding-right: 10%;
        }
    }
    
    .logo {
        width: 700px;
        @media (max-width: 800px) {
            width: 90%;
        }
    }
    
    .button {
        width: 250px;
        height: auto;
        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
        @media (max-width: 800px) {
            width: 40vw;
        }
    }